[Unit]
Description=NNS Info2Overlay
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/bin/bash OVLPATH/service/OVLSERVICE.sh
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=OVLPATH/service/logs/OVLSERVICE-out.log
# StandardError=OVLPATH/service/logs/OVLSERVICE-err.log
Restart=always

[Install]
WantedBy=multi-user.target
