[Unit]
Description=NNS Info2Framebuffer
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/bin/bash /home/pi/NNS/FreeplayInfo2Overlay/service/info2framebuffer.sh
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayInfo2Overlay/service/logs/info2framebuffer-out.log
# StandardError=/home/pi/NNS/FreeplayInfo2Overlay/service/logs/info2framebuffer-err.log
Restart=Always

[Install]
WantedBy=multi-user.target
