[Unit]
Description=NNS Info2Overlay
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/bin/bash /home/pi/NNS/FreeplayInfo2Overlay/service/info2overlayzero.sh
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayInfo2Overlay/service/logs/info2overlay-out.log
# StandardError=/home/pi/NNS/FreeplayInfo2Overlay/service/logs/info2overlay-err.log
Restart=always

[Install]
WantedBy=multi-user.target
